<h1>URL's Report</h1>

<div class="container">
  <%= form_tag redirect_report_path, method: :get do %>
    <div class="forms">
      <div class="forms__date-after">
        <label for="date-after">Date After:</label>
        <input id="date-after" name="date_after" type="text" value="<%= params[:date_after] ? params[:date_after] : '' %>" placeholder="YYYY-MM-DD" />
      </div>

      <div class="forms__date-jefore">
        <label for="date-before">Date Before:</label>
        <input id="date-before" name="date_before" type="text" value="<%= params[:date_before] ? params[:date_before] : '' %>" placeholder="YYYY-MM-DD" />
      </div>

      <div class="forms__submit">
        <button type="submit">Filter Results</button>
        | <%= link_to "Clear", redirect_report_path %> 
        | <%= link_to "Back", redirects_path %> 
      </div>
    </div>
  <% end %>
</div>

<ul>
  <% @urls.each do |url| %>
    <li>
      <ul>
        <li><strong>Count:</strong> <%= "#{url.count}" %></li>
        <li><strong>Short URL:</strong> <%= link_to "#{url.get_shortened_full_url}", "#{url.get_shortened_full_url}", target: '_blank' %></li>
        <li><strong>Full URL:</strong> <%= url.full_url %></li>
        <li><%= link_to "Edit", edit_redirect_path(url) %></li>
      </ul>
    </li>
  <% end %>
</ul>
